.event-card{
  border-radius: 10px;
  padding: 30px;
  font-size: x-large;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cancelled{
  display: flex;
  align-items: center;
  justify-content: center;
}

.event-card-content{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 50px;
}

.event-card-content-left{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;

  flex: 1;
  min-width: 0;
}

.event-card-center{
  display: flex;
  flex-direction: column;
  gap: 20px;

  flex: 1;
  min-width: 0;
}

.event-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
  box-sizing: border-box;
}

.circuit-image{
  width: 300px;
  height: auto;
  border: 10px solid black;
  border-radius: 20px;
  background-color: white;
}

.country-image{
  width: 100px;
  height: auto;
  border-radius: 10px;
}

.event-header p{
  font-size: x-large;
}

.event-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 50px;
}

.breakable-name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 8px;
}

.breakable-name-word {
  display: inline;
}

@media (max-width: 1400px) {
  .breakable-name {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }

  .breakable-name-word {
    display: block;
  }
}


.event-status {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
}

.event-dates {
  font-size: x-large;
}

.see-event{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  background-color: white;
  border-radius: 10px;
}



/* Colores según estado */

.event-card.status-done {
  background-color: #626268;
}

.event-card.status-current {
  background-color: #22c55e;
}

.event-card.status-upcoming {
  background-color: #3b82f6;
}

.event-card.status-cancelled {
  background-color: #ef4444;
}


@media (max-width: 1500px) {
  .circuit-name {
    display: none;
  }
}

@media (max-width: 1400px) {
  .event-status {
    display: none;
  }
}

@media (max-width: 1250px) {
  .event-card-content {
    flex-direction: column;
    align-items: stretch;
  }

  .event-card-content-left {
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .event-card-content-left {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .event-card-center {
    width: 100%;
    align-items: center;
  }

  .event-header {
    justify-content: center;
  }

  .event-info {
    justify-content: center;
  }
}
