<header>
  <a routerLink="">
    <img id="logo-header" src="images/f1-pixabay.png" alt="logo" >
  </a>

  <nav>
    <ul>
      <li><a class="navbar" routerLink="/f1live">F1 Live</a></li>
      <li><a class="navbar" routerLink="/forums">Forums</a></li>
      <li><a class="navbar" id="navbar-last" routerLink="/minigames">Minigames</a></li>
    </ul>
  </nav>

  <div id="user-header">
    <a>
      <img id="user-header-img" src="images/user-pixabay.png" alt="logo">
    </a>
    <span>User account</span>
  </div>
</header>
