<h1>Week Calendar</h1>

<section id="week-calendar">
  @for(week of weeks; track week.startDate){
    <article class="week-calendar-card"
             (click)="eventSelected.emit(week.event)"
             [ngClass]="week.event === undefined ? 'no-event' : 'event'"
    >
      {{ formatRange(week.startDate, week.endDate) }}
      <br>
      @if (week.event && week.event.circuit && week.event.circuit.country) {
        <img
          class="week-calendar-event-image"
          [src]="week.event.circuit.country.flagUrl"
          [alt]="week.event.circuit.country.name"
        >
      } @else {
        <span>No Event</span>
      }
      <br>
    </article>
  }
</section>

