<div id="main-container">
  <div class="standings" id="driver-standings">
    <h2 class="standings-title">DRIVERS STANDINGS</h2>
    <div class="standings-header">
      <p>Pos. Driver</p>
      <p id="standings-header-pts">Pts.</p>
    </div>
    <!-- <div class="standings-content"> -->
      @for (driver of drivers(); track driver.driverNumber) {
        <app-driver-standing-card
          [item]="driver"
          (selectedDriver)="selectDriver($event)"
          [selected]="isItemSelected(driver)"
          [style.background]="driver.teamColor">
        </app-driver-standing-card>
      }
    <!-- </div> -->
  </div>
  <div class="standings" id="constructor-standings">
    <h2 class="standings-title">CONSTRUCTORS STANDINGS</h2>
    <div class="standings-header">
      <p>Pos.</p>
      <p>Team</p>
      <p id="standings-header-pts">Pts.</p>
    </div>
    <!-- <div class="standings-content"> -->
      @for (team of teams(); track team.name) {
        <app-driver-standing-card
          [item]="team"
          (selectedTeam)="selectTeam($event)"
          [selected]="isItemSelected(team)"
          [style.background]="getColor(team)">
        </app-driver-standing-card>
      }
    <!-- </div> -->
  </div>
  <div id="comparison-container">
    <div class="comparison">    <!-- COMPARACIÓN DE PILOTOS -->
      <h3 class="comparison-title">Select two drivers to compare:<br></h3>
      <div class="comp-selected-row">
        <div class="comp-selected-col">
          <p class="comp-selected-title">DRIVER 1:</p>
          @if(selectedDrivers().length > 0){
            <p class="comp-selected-item">{{selectedDrivers()[0].acronym}}</p>
          }
        </div>
        <div class="comp-selected-col">
          <p class="comp-selected-title">DRIVER 2:</p>
          @if(selectedDrivers().length > 1){
            <p class="comp-selected-item">{{selectedDrivers()[1].acronym}}</p>
          }
        </div>
      </div>
      <div class="comparison-bottom">
        <p>+/- : @if(driverDifference() !== null){
          {{driverDifference()}} points
        }</p>
        <button (click)="clearDriversComp()" class="clearButton">clear</button>
      </div>
    </div>
    <div class="comparison">    <!-- COMPARACIÓN DE EQUIPOS -->
      <h3 class="comparison-title">Select two teams to compare:<br></h3>
      <div class="comp-selected-row">
        <div class="comp-selected-col">
          <p class="comp-selected-title">TEAM 1:</p>
          @if(selectedTeams().length > 0){
            <p class="comp-selected-item">{{selectedTeams()[0].name}}</p>
          }
        </div>
        <div class="comp-selected-col">
          <p class="comp-selected-title">TEAM 2:</p>
          @if(selectedTeams().length > 1){
            <p class="comp-selected-item">{{selectedTeams()[1].name}}</p>
          }
        </div>
      </div>
      <div class="comparison-bottom">
        <p>+/- : @if(teamDifference() !== null){
          {{teamDifference()}} points
        }</p>
        <button (click)="clearTeamsComp()" class="clearButton">clear</button>
      </div>
    </div>
  </div>
</div>
