<div class="gp-bar-container">
  @for (event of events(); track event.id) {
    <button
      [attr.id]="selectedEventId() === event.id ? 'active-event' : null"
      class="gp-btn"
      [class.active]="selectedEventId() === event.id"
      [class.done]="event.status === 'done'"
      [disabled]="event.status !== 'done'"
      (click)="selectEvent(event.id)">

      <span class="round">R{{ $index + 1 }} </span>
      <span class="name">{{ event.name }}</span>
    </button>
  }
</div>

<div id="main-container">
  <div class="standings" id="driver-standings">
    <h2 class="standings-title">DRIVERS STANDINGS</h2>
    <div class="standings-header">
      <p>Pos. Driver</p>
      <p id="standings-header-pts">Pts.</p>
    </div>
    <!-- <div class="standings-content"> -->
    @for (standing of driverStandings(); track standing.id) {
      @if (standing.driver; as driver) {
        <app-driver-standing-card
          [item]="driver"
          [points]="standing.points"
          [position]="standing.position"
          [selected]="isItemSelected(driver)"
          [style.background]="getColor(standing.team?.name)"
          (selectedDriver)="selectDriver(driver, standing.team)">
        </app-driver-standing-card>
      }
    }
    <!-- </div> -->
  </div>
  <div class="standings" id="constructor-standings">
    <h2 class="standings-title">CONSTRUCTORS STANDINGS</h2>
    <div class="standings-header">
      <p>Pos.</p>
      <p>Team</p>
      <p id="standings-header-pts">Pts.</p>
    </div>
    <!-- <div class="standings-content"> -->
      @for (team of teamStandings(); track team.team) {
        <app-driver-standing-card
          [item]="team.team"
          [points]="team.points"
          [position]="team.position"
          (selectedTeam)="selectTeam($event)"
          [selected]="isItemSelected(team.team)"
          [style.background]="getColor(team.team?.name)">
        </app-driver-standing-card>
      }
    <!-- </div> -->
  </div>
  <div id="comparison-container">
    <div class="comparison">    <!-- COMPARACIÓN DE PILOTOS -->
      <h3 class="comparison-title">Select two drivers to compare:<br></h3>
      <div class="comp-selected-row">
        <div class="comp-selected-col">
          <p class="comp-selected-title">DRIVER 1:</p>
          @if(selectedDrivers().length > 0){
            <p
              class="comp-selected-item"
              [style.background-color]="getColor(selectedDrivers()[0].team?.name)">
              {{selectedDrivers()[0].acronym}}
            </p>
          }
        </div>
        <div class="comp-selected-col">
          <p class="comp-selected-title">DRIVER 2:</p>
          @if(selectedDrivers().length > 1){
            <p
              class="comp-selected-item"
              [style.background-color]="getColor(selectedDrivers()[1].team?.name)">
              {{selectedDrivers()[1].acronym}}
            </p>
          }
        </div>
      </div>
      <div class="comparison-bottom">
        <p>+/- : @if(driverDifference() !== null){
          {{driverDifference()}} points
        }</p>
        <button (click)="clearDriversComp()" class="clearButton">clear</button>
      </div>
    </div>
    <div class="comparison">    <!-- COMPARACIÓN DE EQUIPOS -->
      <h3 class="comparison-title">Select two teams to compare:<br></h3>
      <div class="comp-selected-row">
        <div class="comp-selected-col">
          <p class="comp-selected-title">TEAM 1:</p>
          @if(selectedTeams().length > 0){
            <p
              class="comp-selected-item"
              [style.background-color]="getColor(selectedTeams()[0].name)">
              {{selectedTeams()[0].name}}
            </p>
          }
        </div>
        <div class="comp-selected-col">
          <p class="comp-selected-title">TEAM 2:</p>
          @if(selectedTeams().length > 1){
            <p
              class="comp-selected-item"
              [style.background-color]="getColor(selectedTeams()[1].name)">
              {{selectedTeams()[1].name}}
            </p>
          }
        </div>
      </div>
      <div class="comparison-bottom">
        <p>+/- : @if(teamDifference() !== null){
          {{teamDifference()}} points
        }</p>
        <button (click)="clearTeamsComp()" class="clearButton">clear</button>
      </div>
    </div>
  </div>
</div>
